openapi: "3.0.0"
info:
  title: "OpenStreetMap"
  description: "This is the editing API for OpenStreetMap. You can find out more about it at [wiki.openstreetmap.org](https://wiki.openstreetmap.org/wiki/API_v0.6)."
  version: "0.6"
  termsOfService: "https://operations.osmfoundation.org/policies/api/"
  license:
    name: "ISC License"
    url: "https://github.com/bryceco/GoMap/blob/master/LICENSE.md"
servers:
  - url: https://api.openstreetmap.org/api/0.6
    description: Production server (uses live data)
  - url: https://master.apis.dev.openstreetmap.org/api/0.6
    description: Sandbox server (uses test data)
tags:
- name: "user"
  description: "Everything on the user"
paths:
  /user/details:
    get:
      tags:
      - "user"
      summary: "Get the user's profile as well as their OSM messages and preferences"
      description: "The messages section has been available since mid-2013."
      operationId: "getSignedInUserDetails"
      security:
        - basicAuth: []
      responses:
        200:
          description: "successful operation"
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/UserDetailsResponse'
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
  schemas:
    OSMResponse:
      type: array
      xml:
        wrapped : true
        name: osm
    UserDetailsResponse:
      allOf:
        - $ref: '#/components/schemas/OSMResponse'
        - items:
            $ref: '#/components/schemas/User'
    User:
      xml:
        name: 'user'
      type: object
      properties:
        id:
          type: integer
          xml:
            attribute: true
          example: 1234
        display_name:
          type: string
          example: "JaneDoe"
          xml:
            attribute: true
        account_created:
          type: string
          example: "2010-01-19T23:01:0Z"
          format: date-time
          xml:
            attribute: true
        description:
          type: string
          example: "# Heading\n\nThe description can contain markdown"
        changesets:
          type: object
          properties:
            count:
              type: integer
              example: 34
              xml:
                attribute: true
        traces:
          type: object
          properties:
            count:
              type: integer
              example: 2
              xml:
                attribute: true
        messages:
          type: object
          properties:
            received:
              type: object
              properties:
                count:
                  type: integer
                  example: 2
                  xml:
                    attribute: true
                unread:
                  type: integer
                  example: 1
                  xml:
                    attribute: true
            sent:
              type: object
              properties:
                count:
                  type: integer
                  example: 1
                  xml:
                    attribute: true
          xml:
            wrapped : true
            name: messages
externalDocs:
  description: "Find more information on the OSM wiki"
  url: "https://wiki.openstreetmap.org/"
