openapi: "3.0.0"
info:
  title: "OpenStreetMap"
  description: "This is the editing API for OpenStreetMap."
  version: "0.6"
  termsOfService: "https://operations.osmfoundation.org/policies/api/"
  license:
    name: "ISC License"
    url: "https://github.com/bryceco/GoMap/blob/master/LICENSE.md"
servers:
  - url: https://api.openstreetmap.org/api/0.6
    description: Production server (uses live data)
  - url: https://master.apis.dev.openstreetmap.org/api/0.6
    description: Sandbox server (uses test data)
tags:
- name: "user"
  description: "Everything on the user"
paths:
  /user/details.json:
    get:
      tags:
      - "user"
      summary: "Get the user's profile as well as their OSM messages and preferences"
      description: "The messages section has been available since mid-2013."
      operationId: "getSignedInUserDetails"
      security:
        - basicAuth: []
      responses:
        200:
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDetailsResponse'
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
  schemas:
    OSMResponse:
      $ref: './schemas/OSMResponse.yaml'
    UserDetailsResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/OSMResponse'
      properties:
        user:
          $ref: '#/components/schemas/User'
    User:
      $ref: './schemas/User.yaml'
externalDocs:
  description: "Find more information on the OSM wiki"
  url: "https://wiki.openstreetmap.org/"
