openapi: "3.0.0"
info:
  title: "OpenStreetMap"
  description: "This is the editing API for OpenStreetMap."
  version: "0.6"
  termsOfService: "https://operations.osmfoundation.org/policies/api/"
  license:
    name: "ISC License"
    url: "https://github.com/bryceco/GoMap/blob/master/LICENSE.md"
servers:
  - url: https://api.openstreetmap.org
    description: Production server (uses live data)
  - url: https://master.apis.dev.openstreetmap.org
    description: Sandbox server (uses test data)
tags:
- name: "map"
  description: "Operations related to map data"
- name: "user"
  description: "Everything on the user"
- name: "misc"
  description: "Meta-information on the API and the server"
paths:
  /api/versions:
    $ref: './paths/api_versions.yaml'
  /api/capabilities:
    $ref: './paths/api_capabilities.yaml'
  /api/0.6/map:
    $ref: './paths/map_boundingBox.yaml'
  /api/0.6/permissions:
    $ref: './paths/api_permissions.yaml'
  /api/0.6/user/details.json:
    $ref: './paths/user_details.yaml'
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
  schemas:
    APICapabilities:
      $ref: './schemas/APICapabilities.yaml'
    APICapabilitiesResponse:
      $ref: './schemas/APICapabilitiesResponse.yaml'
    APIPermission:
      $ref: './schemas/APIPermission.yaml'
    APIStatus:
      $ref: './schemas/APIStatus.yaml'
    APIVersionsResponse:
      $ref: './schemas/APIVersionsResponse.yaml'
    Node:
      $ref: './schemas/Node.yaml'
    OSMResponse:
      $ref: './schemas/OSMResponse.yaml'
    Relation:
      $ref: './schemas/Relation.yaml'
    User:
      $ref: './schemas/User.yaml'
    UserDetailsResponse:
      $ref: './schemas/UserDetailsResponse.yaml'
    Way:
      $ref: './schemas/Way.yaml'
externalDocs:
  description: "Find more information on the OSM wiki"
  url: "https://wiki.openstreetmap.org/"
