//
// UserAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Foundation
import Alamofire


open class UserAPI {
    /**
     Get the user's profile as well as their OSM messages and preferences

     - parameter completion: completion handler to receive the data and the error objects
     */
    open class func getSignedInUserDetails(completion: @escaping ((_ data: UserDetailsResponse?,_ error: Error?) -> Void)) {
        getSignedInUserDetailsWithRequestBuilder().execute { (response, error) -> Void in
            completion(response?.body, error)
        }
    }


    /**
     Get the user's profile as well as their OSM messages and preferences
     - GET /user/details

     - BASIC:
       - type: http
       - name: basicAuth
     - examples: [{contentType=application/json, example={
  "user" : {
    "traces" : {
      "count" : 2
    },
    "account_created" : "2000-01-23T04:56:07.000+00:00",
    "description" : "# Heading\n\nThe description can contain markdown",
    "messages" : {
      "received" : {
        "unread" : 1,
        "count" : 2
      },
      "sent" : {
        "count" : 1
      }
    },
    "changesets" : {
      "count" : 34
    },
    "id" : 1234,
    "display_name" : "JaneDoe"
  }
}}]

     - returns: RequestBuilder<UserDetailsResponse> 
     */
    open class func getSignedInUserDetailsWithRequestBuilder() -> RequestBuilder<UserDetailsResponse> {
        let path = "/user/details"
        let URLString = OpenStreetMapAPI.basePath + path
        let parameters: [String:Any]? = nil

        let url = URLComponents(string: URLString)

        let requestBuilder: RequestBuilder<UserDetailsResponse>.Type = OpenStreetMapAPI.requestBuilderFactory.getBuilder()

        return requestBuilder.init(method: "GET", URLString: (url?.string ?? URLString), parameters: parameters, isBody: false)
    }

}
