openapi: 3.0.0
info:
  title: OpenStreetMap
  description: This is the editing API for OpenStreetMap.
  version: '0.6'
  termsOfService: 'https://operations.osmfoundation.org/policies/api/'
  license:
    name: ISC License
    url: 'https://github.com/bryceco/GoMap/blob/master/LICENSE.md'
servers:
  - url: 'https://api.openstreetmap.org'
    description: Production server (uses live data)
  - url: 'https://master.apis.dev.openstreetmap.org'
    description: Sandbox server (uses test data)
tags:
  - name: user
    description: Everything on the user
  - name: misc
    description: Meta-information on the API and the server
paths:
  /api/versions:
    get:
      tags:
        - misc
      summary: Returns a list of API versions supported by this instance.
      operationId: getAPIVersions
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/APIVersionsResponse'
  /api/capabilities:
    get:
      tags:
        - misc
      summary: This API call is meant to provide information about the capabilities and limitations of the current API.
      operationId: getAPICapabilities
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/APICapabilitiesResponse'
  /api/0.6/permissions:
    get:
      tags:
        - misc
      summary: Returns the permissions granted to the current API connection.
      operationId: getAPIPermissions
      security:
        - basicAuth: []
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/OSMResponse'
                properties:
                  permissions:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          $ref: '#/components/schemas/APIPermission'
                      xml:
                        name: permission
                    xml:
                      wrapped: true
                xml:
                  wrapped: true
                  name: osm
  /api/0.6/user/details.json:
    get:
      tags:
        - user
      summary: Get the user's profile as well as their OSM messages and preferences
      description: The messages section has been available since mid-2013.
      operationId: getSignedInUserDetails
      security:
        - basicAuth: []
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDetailsResponse'
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
  schemas:
    APICapabilities:
      type: object
      properties:
        version:
          type: object
          description: The API call versions that the server will accept
          properties:
            minimum:
              type: number
              format: double
              example: 0.6
              xml:
                attribute: true
            maximum:
              type: number
              format: double
              example: 0.6
              xml:
                attribute: true
        area:
          type: object
          properties:
            maximum:
              type: number
              format: double
              description: The maximum area in square degrees that can be queried by API calls
              example: 0.25
              xml:
                attribute: true
        note_area:
          type: object
          properties:
            maximum:
              type: number
              example: 25
              xml:
                attribute: true
        tracepoints:
          type: object
          properties:
            per_page:
              type: number
              description: The maximum number of points in a single GPS trace. (Possibly incorrect)
              example: 5000
              xml:
                attribute: true
        waynodes:
          type: object
          properties:
            maximum:
              type: number
              description: The maximum number of nodes that a way may contain
              example: 2000
              xml:
                attribute: true
        changesets:
          type: object
          properties:
            maximum_elements:
              type: number
              description: 'The maximum number of combined nodes, ways and relations that can be contained in a changeset'
              example: 10000
              xml:
                attribute: true
        timeout:
          type: object
          properties:
            seconds:
              type: number
              example: 300
              xml:
                attribute: true
        status:
          type: object
          description: 'The status of the database, API and GPX API. The database field is informational, and the API/GPX-API fields indicate what the client should expect.'
          properties:
            database:
              $ref: '#/components/schemas/APIStatus'
            api:
              $ref: '#/components/schemas/APIStatus'
            gpx:
              $ref: '#/components/schemas/APIStatus'
    APICapabilitiesResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/OSMResponse'
      properties:
        api:
          $ref: '#/components/schemas/APICapabilities'
      xml:
        wrapped: true
        name: osm
    APIPermission:
      type: string
      example: allow_read_prefs
      description: |
        Permissions:
          * `allow_read_prefs` - Read user preferences
          * `allow_write_prefs` - Modify user preferences
          * `allow_write_diary` - Create diary entries, comments and make friends
          * `allow_write_api` - Modify the map
          * `allow_read_gpx` - Read private GPS traces
          * `allow_write_gpx` - Upload GPS traces
          * `allow_write_notes` - Modify notes
      xml:
        attribute: true
    APIStatus:
      type: string
      enum:
        - online
        - readonly
        - offline
      example: online
      description: |
        Status:
          * `online` - Both read and write requests work
          * `readonly` - Only read requests work
          * `offline` - No requests work
      xml:
        attribute: true
    APIVersionsResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/OSMResponse'
      properties:
        api:
          type: object
          properties:
            version:
              type: number
              format: double
              example: 0.6
      xml:
        wrapped: true
        name: osm
    OSMResponse:
      type: object
      properties:
        version:
          type: string
          example: '0.6'
          xml:
            attribute: true
        copyright:
          type: string
          example: OpenStreetMap and contributors
          xml:
            attribute: true
        attribution:
          type: string
          example: 'http://www.openstreetmap.org/copyright'
          xml:
            attribute: true
    User:
      type: object
      properties:
        id:
          type: integer
          example: 1234
        display_name:
          type: string
          example: JaneDoe
        account_created:
          type: string
          example: '2010-01-19T23:01:0Z'
          format: date-time
        description:
          type: string
          example: |-
            # Heading

            The description can contain markdown
        changesets:
          type: object
          properties:
            count:
              type: integer
              example: 34
        traces:
          type: object
          properties:
            count:
              type: integer
              example: 2
        messages:
          type: object
          properties:
            received:
              type: object
              properties:
                count:
                  type: integer
                  example: 2
                unread:
                  type: integer
                  example: 1
            sent:
              type: object
              properties:
                count:
                  type: integer
                  example: 1
    UserDetailsResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/OSMResponse'
      properties:
        user:
          $ref: '#/components/schemas/User'
externalDocs:
  description: Find more information on the OSM wiki
  url: 'https://wiki.openstreetmap.org/'
